.button_row {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

.card {
    padding: 25px;
}

.input_field {
    width: 50%;
}