h1 {
    margin-bottom: 0px;
}

table {
    width: 100%;
}

.button_row {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}