<div class="button_row">
    <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    Back
</div>
<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="fine_id">
            <th mat-header-cell *matHeaderCellDef> Fine ID </th>
            <td mat-cell *matCellDef="let element"> {{element.fine_id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fine_amount">
            <th mat-header-cell *matHeaderCellDef> Fine Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.fine_amount}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="book_title">
            <th mat-header-cell *matHeaderCellDef> Book Name </th>
            <td mat-cell *matCellDef="let element"> {{element.book_title}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>